*,::after,::before{
    box-sizing:border-box
}
html{
    font-family:sans-serif;
    line-height:1.15;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent
}

body{
    background: linear-gradient(292.57deg, #1B2C2D 0.43%, #347478 100%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flex-vertical{
    display:-ms-flexbox!important;
    display:flex!important;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
