
.login-card-container {
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	--width:451px;
	--height:565px;
	width:var(--width);
	height:var(--height);
	position:absolute;
	left:calc(50% - var(--width)/2 );
	top:calc(50% - var(--height)/2);
	border-radius:25px;
	background: #EFEEEE;
    box-shadow: -6px -6px 3px #FFFFFF,
                6px -6px 3px #FFFFFF,
                -6px 6px 3px #FFFFFF,
                6px 6px 3px #FFFFFF;

}
.sweanty-login-logo {
    width:370px
	height:150px;
}
.login-fields-container {
	width:358.5px;
	height:146px;
}
.input-field {
	width:22rem;
	height:4rem;
    background-color:rgba(255, 255, 255, 1);
	border: none;
	border-radius:1rem;
	font-size: 10rem;
    padding-left: 1.4rem;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #C8D0E7, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
    background: none;
    font-family: inherit;
    color: #9BAACF;
}
.input-field::placeholder {
  color: grey;
  font-size: 1.5rem;
}
.login-button {
	background-color:rgba(51.52682349085808, 115.95031455159187, 120.06249949336052, 1);
    width: 10rem;
    height: 4rem;
	border-radius:1rem;
	box-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.25), -0.2rem -0.2rem 0.5rem rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
    font-family:Inter;
	text-align:center;
	font-size:1.5rem;
	letter-spacing:0;
    cursor: pointer;
    transition: color 0.3s ease;
}

.login-button:hover{
    color: cadetblue;
}

